body{
    background-image: url(https://pbs.twimg.com/ext_tw_video_thumb/1471933227870871562/pu/img/DbVq0J0hpRc0l-hR.jpg);}
h1{
    color: darkred;
text-align: center;
font-family: fantasy;
font-size: 10ch;
}
h2{
    font-family: fantasy;
    font-size: medium;
}

p{
    font-family: fantasy;
}